
@{
    ViewBag.Title = "AddSupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div data-ng-controller="SupplierCtrl">
    <div class="row" data-ng-init="SetSupplierId(@ViewBag.id,@ViewBag.isdisable)">
        <div class="col-sm-12">
            <form accessible-form role="form" name="FormSupplierInfo" id="FormSupplierInfo"  ng-class="{'submitted': submitted}"   ng-submit="submitted=true" novalidate>
                <fieldset ng-disabled="isClicked">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <span data-ng-if="addMode && isClicked == false">Add</span>
                                <span data-ng-if="!addMode && isClicked == false">Edit</span> Supplier Information
                            </h3>
                            <span><a href="~/Master/Supplier"> <i class="fa fa-chevron-left"></i> Back</a></span>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Main Detail</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="CompanyName" class="control-label">Company Name: <span class="text-danger">*</span> </label>
                                            <input type="text" tabindex="1" class="form-control" id="CompanyName" name="CompanyName" data-ng-model="objSupplier.CompanyName" placeholder="Company Name" maxlength="100" required>
                                            <span class="errorMsg" ng-show="submitted && FormSupplierInfo.CompanyName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Company Name is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="Website" class="control-label">Website:  </label>
                                            <input type="text" tabindex="2" class="form-control" id="Website" name="Website" data-ng-model="objSupplier.Website" placeholder="Website" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Address Detail
                                    <div class="pull-right">
                                        <div class="form-group">
                                            <button type="button" tabindex="3" name="btnAddAddress" data-ng-click="AddSupplierAddressDetail(objSupplierAddress)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Address</button>
                                        </div>
                                    </div>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>State</th>
                                                    <th>City</th>
                                                    <th>Address</th>
                                                    <th>Pincode</th>
                                                    <th>Fax</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objSupplier.SupplierAddressDetails | filter: statusFilter">
                                                    <td>{{list.CountryName || '-' }}</td>
                                                    <td>{{list.StateName || '-'}}</td>
                                                    <td>{{list.CityName || '-'}}</td>
                                                    <td>{{list.Address || '-'}}</td>
                                                    <td>{{list.PinCode || '-'}}</td>
                                                    <td>{{list.Fax || '-'}}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditSupplierAddressDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteSupplierAddressDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objSupplier.SupplierAddressDetails.length <= 0">
                                                    <td colspan="7"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="margin:0">
                                    Contact Detail
                                    <div class="pull-right">
                                        <div class="form-group">
                                            <a type="button" tabindex="4" name="name" href="" data-ng-click="AddSupplierContactDetail(SupplierContact)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add New Contact</a>
                                        </div>
                                    </div>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Person</th>
                                                    <th>MobileNo</th>
                                                    <th>Email</th>
                                                    @*<th>QQCode</th>
                                            <th>Skype</th>*@
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objSupplier.SupplierContactDetails | filter: statusFilter">
                                                    <td>{{list.ContactName}}&nbsp;{{list.Surname}}</td>
                                                    <td>{{list.MobileNo || '-' }}</td>
                                                    <td>{{list.Email || '-' }}</td>
                                                    @*<td>{{list.QQCode || '-' }}</td>
                                            <td>{{list.Skype || '-'}}</td>*@
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditSupplierDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteSupplierDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objSupplier.SupplierContactDetails.length <= 0">
                                                    <td colspan="8"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Chat Detail
                                    <div class="pull-right">
                                        <div class="form-group">
                                            <button type="button" tabindex="5" name="btnAddchat" data-ng-click="AddSupplierChatDetail(objSupplierChatDetail)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Chat</button>
                                        </div>
                                    </div>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="BankName">Chat :<span class="text-danger">*</span> </label>
                                            <elaunch-autocomplete min-chars="0" mode="ChatNameMaster" id="Chat" isdisplay="true"
                                                                  placeholder="Enter Chat" tabindex="6"
                                                                  value-changed="callback(value)" ng-model="objSupplierChatDetail.ChatData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="submittedd && (objSupplierChatDetail.ChatData.Display =='' || objSupplierChatDetail.ChatData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Chat is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="BranchName">Chat Value:<span class="text-danger">*</span> </label>
                                            <input type="text" tabindex="7" class="form-control" id="ChatValue" name="ChatValue" data-ng-model="objSupplierChatDetail.ChatValue" placeholder="Chat Value" maxlength="50">
                                            <span class="errorMsg" ng-show="submittedd && (objSupplierChatDetail.ChatValue == '' || objSupplierChatDetail.ChatValue == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Chat Value is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Chat</th>
                                                    <th>Chat Value</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objSupplier.SupplierChatDetails | filter: statusFilter">
                                                    <td>{{list.ChatName || '-'}}</td>
                                                    <td>{{list.ChatValue || '-'}}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditSupplierChatDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteSupplierChatDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objSupplier.SupplierChatDetails.length <= 0">
                                                    <td colspan="3"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="margin:0">
                                    Bank Detail
                                    <div class="pull-right">
                                        <div class="form-group">
                                            <a type="button" tabindex="8" name="name" href="" data-ng-click="AddSupplierBankDetail(SupplierBank)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add New Bank</a>
                                        </div>
                                    </div>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Beneficiary Name</th>
                                                    @*<th>Nick Name</th>*@
                                                    <th>Bank Name</th>
                                                    <th>Branch Name</th>
                                                    <th>Account Type</th>
                                                    <th>Account No</th>
                                                    <th>IFSCCode</th>
                                                    <th>SwiftCode</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objSupplier.SupplierBankDetails | filter: statusFilter">
                                                    <td>{{list.BeneficiaryName || '-' }}</td>
                                                    @*<td>{{list.NickName || '-'}}</td>*@
                                                    <td>{{list.BankName || '-'}}</td>
                                                    <td>{{list.BranchName || '-'}}</td>
                                                    <td>{{list.AccountType || '-'}}</td>
                                                    <td>{{list.AccountNo || '-'}}</td>
                                                    <td>{{list.IFSCCode || '-'}}</td>
                                                    <td>{{list.SwiftCode || '-'}}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditSupplierBankDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteSupplierBankDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objSupplier.SupplierBankDetails.length <= 0">
                                                    <td colspan="8"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </fieldset>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-click="FormSupplierInfo.$valid && CreateUpdate(objSupplier)" data-ng-if="addMode && isClicked == false" tabindex="9"><i class="fa fa-save"></i>Save</button>
                        <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-if="!addMode && isClicked == false" data-ng-click="FormSupplierInfo.$valid && CreateUpdate(objSupplier)" tabindex="10"><i class="fa fa-edit"></i>Update</button>
                        @*<button type="button" class="btn btn-default btn-success" data-ng-click="Reset()" >Reset</button>*@
                    </div>

</form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="SupplierAddressDetail.html">
    <ng-include src="'@Url.Action("AddSupplierAddress", "Supplier")'"></ng-include>
</script>

<script type="text/ng-template" id="SupplierContactDetail.html">
    <ng-include src="'@Url.Action("AddSupplierContact", "Supplier")'"></ng-include>
</script>

<script type="text/ng-template" id="SupplierBankDetail.html">
    <ng-include src="'@Url.Action("AddSupplierBank", "Supplier")'"></ng-include>
</script>

@section Scripts
{
    @Scripts.Render("~/bundles/ElaunchControls")
    @Scripts.Render("~/bundles/Supplier")
}

