
@{
    ViewBag.Title = "AddBuyer";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string TempImg = System.Configuration.ConfigurationManager.AppSettings["TempImgPath"];
    string DocumentImgPath = System.Configuration.ConfigurationManager.AppSettings["DocumentImgPath"];
}
<!DOCTYPE html>
<style>
    .isMultiwidth .multiSelect .buttonLabel {
        width: 125px !important;
    }

    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Float the list items side by side */
        ul.tab li {
            float: left;
        }

            /* Style the links inside the list items */
            ul.tab li a {
                display: inline-block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 11px;
                font-weight: bold;
            }

                /* Change background color of links on hover */
                ul.tab li a:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                ul.tab li a:focus, .active {
                    background-color: #ccc;
                }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div data-ng-controller="BuyerCtrl">
    <div class="row" data-ng-init="SetBuyerId(@ViewBag.id,@ViewBag.isdisable)">
        <div class="col-sm-12">
            <form accessible-form role="form" name="FormBuyerInfo" id="FormBuyerInfo" ng-class="{'submitted': submitted}" ng-submit="submitted=true" novalidate>
                <fieldset ng-disabled="isClicked">
                     <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <span data-ng-if="addMode && isClicked == false">Add</span>
                                <span data-ng-if="!addMode && isClicked == false">Edit</span> Contact Information
                            </h3>
                            <span><a href="~/Master/Buyer"> <i class="fa fa-chevron-left"></i> Back</a></span>
                        </div>
                    </div>

                    <ul class="tab">
                        <li><a ng-class="{active : tabname == 'MainDetails'}" data-ng-click="openTab(event, 'MainDetails',objBuyer)">Main Details</a></li>
                        <li><a ng-class="{active : tabname == 'AddressDetails'}" data-ng-click="openTab(event, 'AddressDetails',objBuyer)">Address Details</a></li>
                        <li><a ng-class="{active : tabname == 'ContactDetails'}" data-ng-click="openTab(event, 'ContactDetails',objBuyer)">Contact Details</a></li>
                        <li><a ng-class="{active : tabname == 'TaxDetails'}" data-ng-click="openTab(event, 'TaxDetails',objBuyer)">Tax Details</a></li>
                        <li><a ng-class="{active : tabname == 'BankDetails'}" data-ng-click="openTab(event, 'BankDetails',objBuyer)">Bank Details</a></li>
                        <li><a ng-class="{active : tabname == 'DocumentsUploadDetails'}" data-ng-click="openTab(event, 'DocumentsUploadDetails',objBuyer)">Documents Upload</a></li>
                    </ul>
                    <div class="box-body">
                        <div id="MainDetails" class="panel panel-primary tabcontent">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="checkbox" class="control-label">Contact Registration Under:<span class="text-danger">*</span></label>&nbsp;&nbsp;&nbsp;
                                            <label><input type="checkbox" title="Select all" ng-model="objBuyer.IsBuyerSelect">Buyer</label>
                                            <label><input type="checkbox" title="Select all" ng-model="objBuyer.IsSupplierSelect">Supplier</label>
                                            <label><input type="checkbox" title="Select all" ng-model="objBuyer.IsVendorSelect">Vendor</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @*  ng-keypress="CheckValue(objBuyer.CompanyName)"  *@
                                            <label for="CompanyName" class="control-label">Company Full Name: <span class="text-danger">*</span> </label>
                                            <input type="text" first-alphabet class="form-control addressbox" id="CompanyName" name="CompanyName" data-ng-model="objBuyer.CompanyName" onkeypress="return check(event)" placeholder="Company Name" maxlength="100" tabindex="1" ng-blur="GetDuplicationDataInfoByName(objBuyer)" required>
                                            <span class="errorMsg" ng-show="submitted && (FormBuyerInfo.CompanyName.$error.required || objBuyer.CompanyName == null || objBuyer.CompanyName == '')"><i class="fa fa-exclamation-triangle"></i> &nbsp;Company Name is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="ContactData" class="control-label">Type of Contact:<span class="text-danger">*</span></label>
                                            <elaunch-autocomplete min-chars="0" mode="AgencyTypeMaster" id="ContactData" isdisplay="true"
                                                                  value-changed="callback(value)" ng-model="objBuyer.ContactData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="submitted && (FormBuyerInfo.CompanyName.$error.required || objBuyer.CompanyName == null || objBuyer.CompanyName == '')"><i class="fa fa-exclamation-triangle"></i> &nbsp;Please select Type of Contact.</span>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="WebAddress" class="control-label">Company Website:</label>
                                                <elaunch-website ng-model="webaddress" websitecode-array="WebAddressData"></elaunch-website>
                                            </div>
                                        </div>*@
                                </div>

                                @*<div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="WebAddress" class="control-label">Company Main Telephone no:</label>
                                                <elaunch-mobile ng-model="cmpnyteliphone" placeholder="Enter Telephone Number" telcode-array="cmpnytelCodeData" ng-required="false"></elaunch-mobile>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="Email" class="control-label">Company Main Email address:</label>
                                                <elaunch-Email ng-model="emailid" telcode-array="cmpnyemailCodeData" ng-required="false"></elaunch-Email>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="cmpnyFaxNo" class="control-label">Company Main Fax No: </label>
                                                    <elaunch-mobile ng-model="cmpnyFaxNo" placeholder="Enter Fax Number" telcode-array="cmpnyFaxCodeData" ng-required="false"></elaunch-mobile>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="Remark" class="control-label">Introduction:</label>
                                            <textarea class="form-control" tabindex="3" id="Remark" name="Remark" data-ng-model="objBuyer.Remark" placeholder="Remark" rows="3" cols="60" style="max-width: 100%;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="InvitationAlert">Invitation Alert :</label>
                                            <div isteven-multi-select
                                                 input-model="ContactInvitation"
                                                 output-model="OutputInvitation"
                                                 button-label="maker"
                                                 item-label="maker"
                                                 tick-property="ticked"></div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'AddressDetails',objBuyer)">Save & Continue</a>
                            <button type="button" class="btn btn-sm btn-info btn-icon pull-right" @*data-ng-if='!addMode'*@
                                    data-ng-click="openTab(event, 'AddressDetails',objBuyer,'final')" tabindex="77">Save&Exit
                            </button>
                        </div>

                        <div id="AddressDetails" class="panel panel-primary tabcontent">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="addressData" class="control-label">Type of address: <span class="text-danger">*</span></label>
                                            <elaunch-autocomplete min-chars="0" mode="AddressTypeMaster" id="address" isdisplay="true"
                                                                  placeholder="Enter address"
                                                                  value-changed="callback(value)" ng-model="objBuyerAddress.addressData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="Addresssubmitted && (objBuyerAddress.addressData.Display == '' || objBuyerAddress.addressData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Please select AddressType.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="WeeklyOff" class="control-label">Weekly off: </label>
                                            <select name="WeeklyOff" id="WeeklyOff" data-ng-model="objBuyerAddress.WeeklyOff" class="form-control input-dark">
                                                <option value=""> ---Select--- </option>
                                                <option value="AllDayWorking"> All Day Working </option>
                                                <option value="Sunday" selected> Sunday </option>
                                                <option value="Monday"> Monday </option>
                                                <option value="Tuesday"> Tuesday </option>
                                                <option value="Wednesday"> Wednesday </option>
                                                <option value="Thursday"> Thursday </option>
                                                <option value="Friday"> Friday </option>
                                                <option value="Saturday"> Saturday </option>
                                                <option value="Saturday&Sunday"> Saturday&Sunday </option>
                                            </select>
                                            @*<option value="None" hidden disabled> ---Select--- </option>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="CountryData" class="control-label">Country: <span class="text-danger">*</span></label>
                                            <elaunch-autocomplete min-chars="0" mode="CountryMaster" id="Country" isdisplay="true"
                                                                  placeholder="Enter Country" ng-required="false"
                                                                  value-changed="callback(value)" ng-model="objBuyerAddress.CountryData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="Addresssubmitted && objBuyerAddress.CountryData.Display == ''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Please select Country.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="StateData" class="control-label">State: <span class="text-danger">*</span></label>
                                            <elaunch-autocomplete min-chars="0" mode="StateMaster" id="State" isdisplay="objBuyerAddress.CountryData.Value!=''"
                                                                  placeholder="Enter State" related-value="objBuyerAddress.CountryData.Value" ng-required="false"
                                                                  value-changed="callback(value)" ng-model="objBuyerAddress.StateData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="Addresssubmitted && objBuyerAddress.StateData.Display == ''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Please select State.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="CityData" class="control-label">City/district: <span class="text-danger">*</span></label>
                                            <elaunch-autocomplete min-chars="0" mode="CityMaster" id="City" isdisplay="objBuyerAddress.StateData.Value!=''"
                                                                  placeholder="Enter District" related-value="objBuyerAddress.StateData.Value" ng-required="false"
                                                                  value-changed="callback(value)" ng-model="objBuyerAddress.CityData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="Addresssubmitted && objBuyerAddress.CityData.Display == ''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Please select District.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="PinCode" class="control-label">Pincode: <span class="text-danger">*</span> </label>
                                            <input type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" id="PinCode" name="PinCode" data-ng-model="objBuyerAddress.PinCode" placeholder="Pincode" maxlength="50" required>
                                            <span class="errorMsg" ng-show="Addresssubmitted && objBuyerAddress.PinCode==''"><i class="fa fa-exclamation-triangle"></i> &nbsp;PinCode is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="Address" class="control-label">Address: <span class="text-danger">*</span> </label>
                                            <textarea class="form-control addressbox" id="Address" name="Address" data-ng-model="objBuyerAddress.Address" placeholder="Address" rows="2" cols="60" style="max-width: 100%;" required></textarea>
                                            <span class="errorMsg" ng-show="Addresssubmitted && objBuyerAddress.Address==''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="WebAddress" class="control-label">Telephone No: @*<span class="text-danger">*</span>*@</label>
                                            <elaunch-mobile ng-model="addreteliphone" placeholder="Enter Telephone Number" telcode-array="addreteliphoneData" ng-required="false"></elaunch-mobile>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="FaxNo" class="control-label">Fax No: </label>
                                            <elaunch-mobile ng-model="addreFaxNo" placeholder="Enter Fax Number" telcode-array="addreFaxCodeData" ng-required="false"></elaunch-mobile>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="Email" class="control-label">Email Address: </label>
                                            <elaunch-Email ng-model="addressemailid" telcode-array="addressemailiddata" ng-required="false"></elaunch-Email>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="WebAddress" class="control-label">Web Site: @*<span class="text-danger">*</span>*@ </label>
                                            @*<input type="text" class="form-control" id="WebAddress" name="WebAddress" data-ng-model="objBuyerAddress.WebAddress" onkeypress="return check(event)" placeholder="Web Address" maxlength="100">*@
                                            <elaunch-website ng-model="adderwebaddress" websitecode-array="AddWebAddressData"></elaunch-website>
                                            @*<span class="errorMsg" ng-show="addressemailid && (FormBuyerInfo.WebAddress.$error.required || objBuyerAddress.WebAddress == null || objBuyerAddress.WebAddress == '')"><i class="fa fa-exclamation-triangle"></i> &nbsp;Company Name is required.</span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="pull-right">
                                            <br />
                                            <button type="button" name="btnAddAddress" data-ng-click="AddBuyerAddressDetail(objBuyerAddress)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Save Address</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.</th>
                                                    <th>Address</th>
                                                    <th>WeeklyOff</th>
                                                    <th>Telephone</th>
                                                    @*<th>Address Type</th>*@
                                                    <th>Email</th>
                                                    <th>WebAddress</th>
                                                    
                                                    @*<th>Pincode</th>
                                                        <th>Weekly off</th>*@
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objBuyer.BuyerAddressDetails | filter: statusFilter">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{list.Address || '-'}},{{list.CityName}},{{list.PinCode}},{{list.StateName}},{{list.CountryName}}</td>
                                                    <td>{{list.WeeklyOff || '-' }}</td>
                                                    <td>{{list.Telephone || '-'}}</td>
                                                    <td>{{list.Email || '-'}}</td>
                                                    <td>{{list.WebAddress || '-'}}</td>
                                                    @*<td>{{list.WebAddress || '-'}}</td>
                                                        <td>{{list.WeeklyOff || '-'}}</td>*@
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditBuyerAddressDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteBuyerAddressDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objBuyer.BuyerAddressDetails.length <= 0">
                                                    <td colspan="8"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'MainDetails')">Back</a>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'ContactDetails',objBuyer)">Save & Continue</a>
                            <button type="button" class="btn btn-sm btn-info btn-icon pull-right" @*data-ng-if='!addMode'*@
                                    data-ng-click="openTab(event, 'ContactDetails',objBuyer,'final')" tabindex="77">
                                Save&Exit
                            </button>
                        </div>

                        <div id="ContactDetails" class="panel panel-primary tabcontent">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="ContactPerson">Contact Person Name: <span class="text-danger">*</span> </label>
                                            <input type="text" class="form-control" id="ContactPerson" name="ContactPerson" data-ng-model="objBuyerContact.ContactPerson" placeholder="Contact Person" maxlength="100" required>
                                            <span class="errorMsg" ng-show="Contactsubmitted && objBuyerContact.ContactPerson==''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Contact Person is required.</span>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="Surname">Surname: <span class="text-danger">*</span> </label>
                                                <input type="text" class="form-control" id="Surname" name="Surname" data-ng-model="objBuyerContact.Surname" placeholder="Surname" maxlength="100" required>
                                                <span class="errorMsg" ng-show="Contactsubmitted && objBuyerContact.Surname==''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Surname is required.</span>
                                            </div>
                                        </div>*@
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="DesignationId" class="control-label">Designation: </label>
                                            <elaunch-autocomplete min-chars="0" mode="DesignationMaster" id="Designation" isdisplay="true"
                                                                  placeholder="Enter Designation" ng-required="false"
                                                                  value-changed="callback(value)" ng-model="objBuyerContact.DesignationData">
                                            </elaunch-autocomplete>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="MobileNo">Mobile No.: <span class="text-danger">*</span></label>
                                            <elaunch-mobile ng-model="teliphone" placeholder="Enter Mobile Number" telcode-array="telCodeData"></elaunch-mobile>
                                            <span class="errorMsg" ng-show="Contactsubmitted && (teliphone == null || teliphone == '') "><i class="fa fa-exclamation-triangle"></i> &nbsp;Mobile No is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="Email">Email : @*<span class="text-danger">*</span>*@</label>
                                            <elaunch-Email ng-model="mail" telcode-array="emailCodeData"></elaunch-Email>
                                            @*<span class="errorMsg" ng-show="Contactsubmitted && (mail == null || mail == '')"><i class="fa fa-exclamation-triangle"></i> &nbsp;Email ID is required.</span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="Chat">Chat Details : @*<span class="text-danger">*</span>*@</label>
                                            <elaunch-chat ng-model="chat" chatcode-array="chatCodeData"></elaunch-chat>
                                            @*<span class="errorMsg" ng-show="Contactsubmitted && (chat == null || chat == '') "><i class="fa fa-exclamation-triangle"></i> &nbsp;Chat is required.</span>*@
                                        </div>
                                    </div>                                   
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Contact Person</th>
                                                    <th>Designation</th>
                                                    <th>Mobile</th>
                                                    <th>Chat</th>
                                                    <th>Email</th>
                                                    <th>Action</th>
                                                    <th><button type="button" name="name" data-ng-click="AddBuyerContactDetail(objBuyerContact)" tabindex="5" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Save Contact</button></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objBuyer.BuyerContactDetails | filter: statusFilter">
                                                    <td>{{list.ContactPerson}}</td>
                                                    <td>{{list.DesignationName || '-'}}</td>
                                                    <td>{{list.MobileNo || '-' }}</td>
                                                    <td>{{list.Chat || '-' }}</td>
                                                    <td>{{list.Email || '-'}}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditBuyerDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteBuyerDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objBuyer.BuyerContactDetails.length <= 0">
                                                    <td colspan="8"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'AddressDetails')">Back</a>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'TaxDetails',objBuyer)">Save & Continue</a>
                            <button type="button" class="btn btn-sm btn-info btn-icon pull-right" @*data-ng-if='!addMode'*@
                                    data-ng-click="openTab(event, 'TaxDetails',objBuyer,'final')" tabindex="77">
                                Save&Exit
                            </button>
                        </div>

                        <div id="TaxDetails" class="panel panel-primary tabcontent">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="Tax">Tax Name:@*<span class="text-danger">*</span>*@ </label>
                                            <elaunch-autocomplete min-chars="0" mode="LicenseMaster" id="Tax" isdisplay="true"
                                                                  placeholder="Enter Tax" tabindex="7" ng-required="false"
                                                                  value-changed="callback(value)" ng-model="objBuyerTax.LicenseData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="Taxsubmittedd && (objBuyerTax.LicenseData.Display =='' || objBuyerTax.LicenseData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Tax is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="LicenseNo">Tax No.:@*<span class="text-danger">*</span>*@ </label>
                                            <input type="text" tabindex="8" class="form-control" id="LicenseNo" name="LicenseNo" data-ng-model="objBuyerTax.LicenseNo" placeholder="Tax Value" maxlength="50">
                                            <span class="errorMsg" ng-show="Taxsubmittedd && (objBuyerTax.LicenseNo == '' || objBuyerTax.LicenseNo == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Tax Value is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Tax Type</th>
                                                    <th>Tax No.</th>
                                                    <th>Action</th>
                                                    <th>
                                                        <button type="button" name="btnAddchat" data-ng-click="AddBuyerTaxDetail(objBuyerTax)" tabindex="6" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Save Tax</button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objBuyer.BuyerLicenseDetails | filter: statusFilter">
                                                    <td>{{list.LicenseName || '-'}}</td>
                                                    <td>{{list.LicenseNo || '-'}}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditBuyerTaxDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteBuyerTaxDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objBuyer.BuyerLicenseDetails.length <= 0">
                                                    <td colspan="3"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'ContactDetails')">Back</a>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'BankDetails',objBuyer)">Save & Continue</a>
                            <button type="button" class="btn btn-sm btn-info btn-icon pull-right" @*data-ng-if='!addMode'*@
                                    data-ng-click="openTab(event, 'BankDetails',objBuyer,'final')" tabindex="77">
                                Save&Exit
                            </button>
                        </div>

                        <div id="BankDetails" class="panel panel-primary tabcontent">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="BeneficiaryName">Beneficiary Name:<span class="text-danger">*</span> </label>
                                            <input type="text" class="form-control" id="BeneficiaryName" name="BeneficiaryName" data-ng-model="objBuyerBank.BeneficiaryName" placeholder="Beneficiary Name" maxlength="100">
                                            <span class="errorMsg" ng-show="Banksubmitted && objBuyerBank.BeneficiaryName==''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Beneficiary Name is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="BankName">Bank Name:<span class="text-danger">*</span> </label>
                                            <elaunch-autocomplete min-chars="0" mode="BankNameMaster" id="Bank" isdisplay="true"
                                                                  placeholder="Enter Bank" ng-required="false"
                                                                  value-changed="callback(value)" ng-model="objBuyerBank.BankData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="Banksubmitted && (objBuyerBank.BankData.Display =='' || objBuyerBank.BankData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Bank Name is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="BranchName">Branch address:@*<span class="text-danger">*</span>*@ </label>
                                            @*<input type="text" class="form-control" id="BranchName" name="BranchName" data-ng-model="objBuyerBank.BranchName" placeholder="Branch Name" maxlength="100">*@
                                            <textarea class="form-control" id="BranchName" name="BranchName" data-ng-model="objBuyerBank.BranchName" placeholder="Branch Name" rows="2" cols="60" style="max-width: 100%;"></textarea>
                                            @*<span class="errorMsg" ng-show="Banksubmitted && objBuyerBank.BranchName==''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Branch Name is required.</span>*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="AccountType">Account Type:<span class="text-danger">*</span> </label>
                                            <elaunch-autocomplete min-chars="0" mode="AccountTypeMaster" id="AccountType" isdisplay="true"
                                                                  placeholder="Select Account Type" ng-required="false"
                                                                  value-changed="callback(value)" ng-model="objBuyerBank.AccountTypeData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="Banksubmitted && (objBuyerBank.AccountTypeData.Display =='' || objBuyerBank.AccountTypeData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Account Type is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="AccountNo">Account No:<span class="text-danger">*</span> </label>
                                            <input type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" id="AccountNo" name="AccountNo" data-ng-model="objBuyerBank.AccountNo" placeholder="Account No." maxlength="100">
                                            <span class="errorMsg" ng-show="Banksubmitted && objBuyerBank.AccountNo==''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Account No is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="IFSCCode">IFSC Code:<span class="text-danger">*</span> </label>
                                            <input type="text" class="form-control" id="IFSCCode" name="IFSCCode" data-ng-model="objBuyerBank.IFSCCode" placeholder="IFSC Code" maxlength="50">
                                            <span class="errorMsg" ng-show="Banksubmitted && objBuyerBank.IFSCCode==''"><i class="fa fa-exclamation-triangle"></i> &nbsp;IFSCCode is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="SwiftCode">Swift Code:@*<span class="text-danger">*</span>*@ </label>
                                            <input type="text" class="form-control" id="SwiftCode" name="SwiftCode" data-ng-model="objBuyerBank.SwiftCode" placeholder="Swift Code" maxlength="100">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Beneficiary Name</th>
                                                    @*<th>Nick Name</th>*@
                                                    <th>Bank Name</th>
                                                    <th>Branch Name</th>
                                                    <th>Account Type</th>
                                                    <th>Account No</th>
                                                    <th>IFSCCode</th>
                                                    <th>SwiftCode</th>
                                                    <th>Action</th>
                                                    <th>
                                                        <a type="button" name="name" href="" data-ng-click="AddBuyerBankDetail(objBuyerBank)" tabindex="14" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Save Bank</a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objBuyer.BuyerBankDetails | filter: statusFilter">
                                                    <td>{{list.BeneficiaryName || '-' }}</td>
                                                    @*<td>{{list.NickName || '-'}}</td>*@
                                                    <td>{{list.BankName || '-'}}</td>
                                                    <td>{{list.BranchName || '-'}}</td>
                                                    <td>{{list.AccountType || '-'}}</td>
                                                    <td>{{list.AccountNo || '-'}}</td>
                                                    <td>{{list.IFSCCode || '-'}}</td>
                                                    <td>{{list.SwiftCode || '-'}}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditBuyerBankDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteBuyerBankDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objBuyer.BuyerBankDetails.length <= 0">
                                                    <td colspan="8"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'TaxDetails')">Back</a>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'DocumentsUploadDetails',objBuyer)">Save & Continue</a>
                            <button type="button" class="btn btn-sm btn-info btn-icon pull-right" @*data-ng-if='!addMode'*@
                                    data-ng-click="openTab(event, 'DocumentsUploadDetails',objBuyer,'final')" tabindex="77">
                                Save&Exit
                            </button>
                        </div>

                        <div id="DocumentsUploadDetails" class="panel panel-primary tabcontent">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="DocType">Document Type:@*<span class="text-danger">*</span>*@ </label>
                                            <elaunch-autocomplete min-chars="0" mode="ContactDocumentNameMaster" id="DocType" isdisplay="true"
                                                                  placeholder="Select Document Type" tabindex="7" ng-required="false"
                                                                  value-changed="callback(value)" ng-model="objBuyerDocument.DocumentsData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="Docsubmittedd && (objBuyerDocument.DocumentsData.Display =='' || objBuyerDocument.DocumentsData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Document Type is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <br />
                                            <div ng-if="tempType == 'jpg' || tempType == 'png'">
                                                <img ng-src="{{tempDocument}}" style="width: 100%;max-width: 150px;height: auto;" data-ng-if="tempDocument != ''" />
                                            </div>
                                            <div ng-if="tempType == 'xls' || tempType == 'xlsx' || tempType == 'doc' || tempType == 'docx'">
                                                <img ng-src="~/Content/Images/fileTypeNotSupported.png" style="width: 100%;max-width: 150px;height: auto;" data-ng-if="tempDocument != ''" />
                                            </div>
                                            <div ng-if="tempType == 'pdf'">
                                                <object data="{{tempDocument}}" style="width: 100%;max-width: 150px;height: auto;" data-ng-if="tempDocument != '' " type="image/jpeg"></object>
                                            </div>
                                            <div data-type="file" class="btn btn-primary" data-ngf-select ng-model="objBuyerDocument.DocumentValue" data-ngf-change="UploadDocumentFile($files)" data-name="DocumentValue" style="width: 50%; margin-top: 10px;" ngf-max-size="10MB">
                                                Document Upload
                                            </div>
                                            @*<input type="text" tabindex="8" class="form-control" id="DocumentValue" name="DocumentValue" data-ng-model="objBuyerDocument.DocumentValue" placeholder="Tax Value" maxlength="50">
                                                <span class="errorMsg" ng-show="Docsubmittedd && (objBuyerDocument.DocumentValue == '' || objBuyerDocument.DocumentValue == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Document Value is required.</span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Document Type</th>
                                                    <th>Document</th>
                                                    <th>Document Link</th>
                                                    <th>Action</th>
                                                    <th>
                                                        <button type="button" name="btnAddchat" data-ng-click="AddBuyerDocumentDetail(objBuyerDocument)" tabindex="6" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Save Document</button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="list in objBuyer.BuyerDocumentDetails | filter: statusFilter">
                                                    <td>{{list.DocumentName || '-'}}</td>
                                                    <td>
                                                        @*{{list.DocumentValue || '-'}}*@
                                                        <div ng-if="list.DocumentType == 'jpg' || list.DocumentType == 'png'">
                                                            <img ng-src="{{list.DocumentValue}}" style="width: 100%;max-width: 150px;height: auto;" data-ng-if="list.DocumentType != ''" />
                                                        </div>
                                                        <div ng-if="list.DocumentType == 'xls' || list.DocumentType == 'xlsx' || list.DocumentType == 'doc' || list.DocumentType == 'docx'">
                                                            <img ng-src="~/Content/Images/fileTypeNotSupported.png" style="width: 100%;max-width: 150px;height: auto;" data-ng-if="list.DocumentType != ''" />
                                                        </div>
                                                        <div ng-if="list.DocumentType == 'pdf'">
                                                            <object data="{{list.DocumentValue}}" style="width: 100%;max-width: 150px;height: auto;" data-ng-if="list.DocumentType != '' " type="image/jpeg"></object>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="{{list.DocumentValue}}" target="_blank">Link</a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditBuyerDocumentDetail(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>
                                                        <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteBuyerDocumentDetail(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="objBuyer.BuyerDocumentDetails.length <= 0">
                                                    <td colspan="3"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-sm btn-info btn-icon" data-ng-click="openTab(event, 'BankDetails')">Back</a>
                            <button type="submit" class="btn btn-sm btn-info btn-icon pull-right" data-ng-if='addMode'
                                    data-ng-click="CreateUpdate(objBuyer,'final')" tabindex="76">
                                <i class="fa fa-save"></i>Save&Close
                            </button>
                            <button type="submit" class="btn btn-sm btn-info btn-icon pull-right" data-ng-if='!addMode'
                                    data-ng-click="CreateUpdate(objBuyer,'final')" tabindex="77">
                                <i class="fa fa-edit"></i>Save&Close
                            </button>
                        </div>

                    </div>
                </fieldset>
                @*<div class="box-footer">
                        <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-click="(objBuyer.CompanyName != null || objBuyer.CompanyName != '') && FormBuyerInfo.$valid && CreateUpdate(objBuyer)" data-ng-if='addMode && isClicked == false'><i class="fa fa-save" tabindex="15"></i>Save</button>
                        <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-if="!addMode && isClicked == false" data-ng-click="(objBuyer.CompanyName != null || objBuyer.CompanyName != '') &&  FormBuyerInfo.$valid && CreateUpdate(objBuyer)"><i class="fa fa-edit" tabindex="16"></i>Update</button>
                    </div>*@
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="BuyerAddressDetail.html">
    <ng-include src="'@Url.Action("AddBuyerAddress", "Buyer")'"></ng-include>
</script>

<script type="text/ng-template" id="BuyerContactDetail.html">
    <ng-include src="'@Url.Action("AddBuyerContact", "Buyer")'"></ng-include>
</script>

<script type="text/ng-template" id="BuyerBankDetail.html">
    <ng-include src="'@Url.Action("AddBuyerBank", "Buyer")'"></ng-include>
</script>

@section Scripts
{
    @Scripts.Render("~/bundles/ElaunchControls")
    @Scripts.Render("~/bundles/Buyer")

}
